/* Import Google font - Poppins */
#top_wrapper_restaurant {
  text-align: center;
}
#top_wrapper_restaurant h1 {
  font-size: 1.5rem;
  font-weight: 800;
}
#top-restaurant {
  display: flex;
  height: 350px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 90%;
  position: relative;
  width: 100%;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child {
  left: -22px;
}
.wrapper i:last-child {
  right: -22px;
}
.wrapper .carousel {
  padding: 10px 0px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 5) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 10px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  box-shadow: 4px 4px 4px 4px rgba(78, 77, 77, 0.2);
}
.carousel .card {
  scroll-snap-align: start;
  height: 260px;
  width: 250px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}
.card .img img {
  margin-top: 40px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px dashed black;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 20px 0 5px;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 3) - 6px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 1) - 10px);
  }
  .carousel .card {
    height: 250px;
    width: 350px;
  }
}
