/* index.html */
#hero {
  background-image: url("/assets/images/bg-image1.jpg");
  height: 85vh;
}

/* login.html */
#login-hero {
  background-image: url("/assets/images/login-bg3.jpg");
  height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;
}
/* User_register.html */
#hero-register {
  padding: 0%;
  background-image: url("/assets/images/banner-img.jpg");
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* Restaurant dashboard */
#restaurant_dashborad {
  background-image: url("/assets/images/res_dash.jpg");
  border-radius: 20px;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}
/* buyer section */
#buyer_dashborad {
  background-image: url("/assets/images/buyer.jpg");
  border-radius: 20px;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Buyer review */
.stars input[type="radio"] {
  display: none;
}
.stars label {
  cursor: pointer;
  font-size: 1.8rem;
  color: #d1d5db; /* Tailwind's gray-300 */
  transition: color 0.3s;
}

/* .stars input[type="radio"]:checked ~ label {
  color: #fbbf24; 
}
.stars label:focus,
.stars label:focus ~ label {
  color: #fbbf24; 
} */
